# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$@"
}

# Clone a git repo and enter into a cloned folder
function gclone() {
	repowithgit=${1##*/}
	git clone $1 && cd ${repowithgit%.git}
}

# Merge locally a pull request from GitHub; ammends the commit meessage to include PR number
function ghpr() {
	prurl=${1:?"Pull request URL is mandatory"}
	prno=${prurl##*/}
	curl -kL "$prurl.patch" | git am -3 && git commit --amend -m "$(git show --format=%B HEAD -s)

Closes #${prno}"
}
